<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <h1>My Spring Boot_JPA Project</h1>
        <div class="scene">
            <div class="box"></div>
            <div class="cat"></div>
            <!-- tree -->
            <div class="tree">
                <div class="triangle layer-one"></div>
                <div class="triangle layer-two"></div>
                <div class="triangle layer-three"></div>
                <div class="triangle layer-four"></div>
                <div class="triangle layer-five"></div>
                <div class="tree-stem"></div>
                <!-- lights -->
                <div class="tree-light light-one">
                    <div class="light-connector"></div>
                    <div class="light chroma-light-color"></div>
                </div>
                <div class="tree-light light-two">
                    <div class="light-connector"></div>
                    <div class="light"></div>
                </div>
                <div class="tree-light light-three">
                    <div class="light-connector"></div>
                    <div class="light"></div>
                </div>
                <div class="tree-light light-four">
                    <div class="light-connector"></div>
                    <div class="light"></div>
                </div>
                <div class="tree-light light-five">
                    <div class="light-connector"></div>
                    <div class="light"></div>
                </div>
                <div class="tree-light light-six">
                    <div class="light-connector"></div>
                    <div class="light"></div>
                </div>
                <div class="tree-light light-seven">
                    <div class="light-connector"></div>
                    <div class="light"></div>
                </div>
                <div class="tree-light light-eight">
                    <div class="light-connector"></div>
                    <div class="light"></div>
                </div>
                <div class="tree-light light-nine">
                    <div class="light-connector"></div>
                    <div class="light"></div>
                </div>

                <!-- presents -->
                <div class="present box-one">
                    <div class="lid"></div>
                </div>
                <div class="present box-two">
                    <div class="lid-two"></div>
                </div>
                <div class="present box-three">
                    <div class="lid-three"></div>
                </div>
                <div class="present box-four">
                    <div class="lid-four"></div>
                </div>
                <div class="present box-five">
                    <div class="lid-five"></div>
                </div>
            </div>

            <!-- cat -->
            <div class="cat">
                <div class="cat-one-lh"></div>
                <div class="cat-one-rh"></div>
                <div class="cat-one-le"></div>
                <div class="cat-one-lec"></div>
                <div class="cat-one-lecc"></div>
                <div class="cat-one-center"></div>
                <div class="cat-one-re"></div>
                <div class="cat-one-rec"></div>
                <div class="cat-one-recc"></div>
                <div class="cat-one-eye"></div>
                <div class="cat-one-eye-two"></div>
                <div class="cat-one-nose"></div>
                <div class="cat-one-whisker"></div>
                <div class="cat-one-whisker-two"></div>
                <div class="cat-one-paw"></div>
                <div class="cat-one-paw-two"></div>
                <div class="cat-paw-detail-r"></div>
                <div class="cat-paw-detail-r-two"></div>
                <div class="cat-paw-detail-l"></div>
                <div class="cat-paw-detail-l-two"></div>
            </div>

            <!-- misc details -->
            <div class="misc">
                <div class="star s-one"></div>
                <div class="star s-two"></div>
                <div class="star s-three"></div>
                <div class="star s-four"></div>
            </div>

            <div class="row-lights">
                <div class="row-light rl-one"></div>
                <div class="row-light rl-two"></div>
                <div class="row-light rl-three"></div>
                <div class="row-light rl-four"></div>
                <div class="row-light rl-five"></div>
                <div class="row-light rl-six"></div>
            </div>
        </div>
    </div>
</div>